* {box-sizing: border-box; margin: 0;padding: 0;}

/* #212121 */
::selection {
    background-color: #FD773995;
    
    color: #000;
}

:root {
    --text-color: #000;
    --primary-color: #FAFAF9;
    --border-color: #121212;
    line-height: 1.5;
    font-family: 'Inter', monospace;
}

body {
    background-color: var(--primary-color);
}

body[theme="dark"] {
    --text-color: #FAFAF9;
    --primary-color: #212121;
    --border-color: #000;
}

.hide {
    opacity: 0;
}

header {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .h1 {
    margin-inline: 6px;
    font-family: 'Inter', monospace;
    font-size: 2.2ch;
    text-transform: uppercase;
    text-wrap: wrap;
    font-weight: 700;
    color: var(--text-color);
}
header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2px;
}

.main {
    width: auto;
    display: grid;
    place-items: center;
}
.main__header {
    min-width: 340px;
    max-width: 500px;
    margin: 1.6rem 0 1rem;
    padding: 0 1.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.actual-icons-pack {
    min-width: 6.6rem;
    max-width: 7rem;
    height: 2.2rem;
    display: flex;
    align-items: center;
    background: #FAFAF9;
    border-radius: 0.25rem;
    border: solid 0.140rem var(--border-color);
    box-shadow: 0.15rem 0.15rem var(--border-color);
}
.actual-icons-pack__img {
    width: 2rem;
    height: 100%;
    border-right: solid 0.140rem var(--border-color);
    background-image: url(https://assets-global.website-files.com/63a9fb94e473f36dbe99c1b1/64a2fa3a301a6b9c317c705f_t0Fli6xpRum7TSXQDFB3.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.actual-icons-pack__name { 
    padding-inline: 4px;
    font-size: 1.1ch;
    font-weight: 500;
    color: #212121;
}

.play-color {
    display: block;
    min-width: 8rem;
    max-width: 10rem;
    height: 2.2rem;
    border-radius: 0.25rem;
    border: solid 0.140rem var(--border-color);
    box-shadow: 0.15rem 0.15rem var(--border-color);
    opacity: 1;
}
.play-color--hide {
    opacity: 0;
    display: none;
}
.play-color--blue {
    background-color: rgba(3, 62, 173, 0.494);
}
.play-color--red {
    background-color: rgba(253, 119, 57, 0.494);
}

.board {
    width: auto;
    max-width: 500px;
    padding: 0 4px 0 2px;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(4, 1fr);

    list-style: none;
}

.index {
    max-width: 9rem;
    min-width: 4.6rem;
    min-height: 5rem;
    max-height: 10rem;
    margin: .2rem;
    padding: 0;

    display: grid;
    place-items: center;

    background: #FCFBFC;
    border-radius: 0.25rem;
    border: solid 0.125rem var(--border-color);
    box-shadow: 0.15rem 0.15rem var(--border-color);

    transition: transform 50ms, box-shadow 50ms;
}
.index--pleyer-one-color {
    background-color: rgba(253, 119, 57, 0.494);
}
.index--pleyer-two-color {
    background-color: rgba(3, 62, 173, 0.494);
}
.index--selected {
    border: solid 0.125rem #21212185;
    box-shadow: 0.25rem 0.25rem #21212185;
}
.index--selected .index__img-container {
    opacity: 0;
}
@media screen and (min-width: 1000px) {
    .index--no-selected:hover {
        background-color: #21212185;
    }
}
.index__img-container {
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}
.index__img-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.index--no-selected .index__img-container {
    opacity: 0;
}

.user-won-sing {
    position: fixed; 
    width: 100%;
    top: 44vh;
    left: 0;

    display: grid;
    place-items: center;

} 
.user-won-sing--show {
    opacity: 1;
    visibility: visible;
}
.user-won-sing--hide {   
    visibility: hidden;
    opacity: 0;
}
.user-won-sing__container {
    min-width: 260px;
    max-width: 400px;
    margin: 0 10px;
    padding-block: 10px;

    font-size: 3ch;
    font-weight: 700;
    text-align: center;
    color: var(--border-color);

    border: solid .125rem var(--border-color);
    background-color: #FAFAF9;
}

.btn {
    width: 2.2rem;
    height: 2.2rem;

    display: grid;
    place-items: center;

    background: white;
    border-radius: 0.25rem;
    border: solid 0.125rem var(--border-color);
    box-shadow: 0.25rem 0.25rem var(--border-color);

    transition: transform 50ms, box-shadow 50ms;
}
.btn--small {
    width: 2rem;
    height: 2rem;
    box-shadow: 0.125rem 0.125rem var(--border-color);
}
.btn:active {
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 0.125rem 0.125rem var(--border-color);
}

footer {
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: center;
}

.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.icon--user {
    background-image: url(./icons/user.svg);
}
.icon--users {
    background-image: url(./icons/users.svg);
}
.icon--reset {
    background-image: url(./icons/reset.svg);
}
.icon--moon {
    background-image: url(./icons/moon.svg);
}
.icon--sun {
    background-image: url(./icons/sun.svg);
}

.icon-packs {
    min-width: 300px;
    max-width: 500px;
    margin: 2rem 0 0;
    padding: 0 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}
.icon-pack {
    height: 2.6rem;
    min-width: 10rem;
    margin: 6px;
    
    display: flex;
    justify-content: left;
    
    user-select: none;
    background: #FAFAF9;
    border-radius: 0.25rem;
    border: solid 0.125rem var(--border-color);
    box-shadow: 0.25rem 0.25rem var(--border-color);
}
.icon-pack__img {
    box-sizing: border-box;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 4rem;
    height: 100%;
    padding: 0 4px;
    border-right: solid 0.125rem var(--border-color);
}
.icon-pack__title {
    padding-inline: 10px;
    padding-block-end: 2px;
    display: flex;
    align-items: center;
    text-align: left;
    font-weight: 700;
    font-size: 2ch;
}

/* SEO */

main {
    width: 70%;
    margin-top: 6rem;
    padding-left: 2rem;
    padding-bottom: 1.6rem;
    font-size: 2ch;
    color: var(--text-color);
}
main img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}
main .main-link {
    display: block;
    margin-block: 14px;
    font-size: 2.4ch;
}