* {box-sizing: border-box; margin: 0;padding: 0;}

/* #212121 */
::selection {
    background-color: #FD773995;
    
    color: #000;
}

:root {
    --text-color: #000;
    --primary-color: #FAFAF9;
}

body {
    background-color: var(--primary-color);
}

body[theme="dark"] {
    --text-color: #FAFAF9;
    --primary-color: #212121;
}

.hide {
    display: none;
    opacity: 0;
}

header {
    display: 100%;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .h1 {
    margin-inline: 6px;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2.2ch;
    text-transform: uppercase;
    text-wrap: wrap;
    font-weight: 700;
    color: var(--text-color);
}
header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2px;
}

.main {
    width: auto;
    display: grid;
    place-items: center;
}

.play {
    width: auto;
    margin: 5px 0;
    display: flex;
    justify-content: center;
}
.play-color {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.25rem;
    border: solid 0.140rem #121212;
    opacity: 1;
}
.play-color--hide {
    opacity: 0;
}
.play-color--blue {
    background-color: rgba(3, 62, 173, 0.494);
}
.play-color--red {
    background-color: rgba(253, 119, 57, 0.494);
}

.board {
    width: auto;
    max-width: 500px;
    padding: 0 4px 0 2px;
    margin: 0;

    display: grid;
    grid-template-columns: repeat(5, 1fr);

    list-style: none;
}

.index {
    max-width: 7rem;
    min-width: 3.9rem;
    max-height: 7rem;
    margin: .2rem;
    padding: 0;

    display: grid;
    place-items: center;

    background: #FCFBFC;
    border-radius: 0.25rem;
    border: solid 0.125rem #121212;
    box-shadow: 0.15rem 0.15rem #121212;

    transition: transform 50ms, box-shadow 50ms;
}
.index--pleyer-one-color {
    background-color: rgba(253, 119, 57, 0.494);
}
.index--pleyer-two-color {
    background-color: rgba(3, 62, 173, 0.494);
}
.index--selected {
    border: solid 0.125rem #12121285;
    box-shadow: 0.25rem 0.25rem #12121285;
}
.index--selected .index__img-container {
    opacity: 0;
}
@media screen and (min-width: 1000px) {
    .index--no-selected:hover {
        background-color: #12121285;
    }
}
.index__img-container {
    width: 100%;
    height: 100%;
    opacity: 1;
}
.index__img-container img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}
.index--no-selected .index__img-container {
    opacity: 0;
}

.btn {
    width: 2.2rem;
    height: 2.2rem;
    margin: 0.30rem;

    display: grid;
    place-items: center;

    background: white;
    border-radius: 0.25rem;
    border: solid 0.125rem #121212;
    box-shadow: 0.25rem 0.25rem #121212;

    transition: transform 50ms, box-shadow 50ms;
}
.btn:active {
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 0.125rem 0.125rem #121212;
}

footer {
    width: 100%;
    padding: 6px;
    display: flex;
    justify-content: center;
}

.icon {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.icon--user {
    background-image: url(./user.svg);
}
.icon--users {
    background-image: url(./users.svg);
}
.icon--reset {
    background-image: url(./reset.svg);
}
.icon--moon {
    background-image: url(./moon.svg);
}
.icon--sun {
    background-image: url(./sun.svg);
}

/* SEO */

main {
    width: 70%;
    margin-top: 6rem;
    padding-left: 2rem;
    padding-bottom: 1.6rem;
    font-size: 2ch;
    color: var(--text-color);
}
main img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: contain;
}
main .main-link {
    display: block;
    margin-block: 14px;
    font-size: 2.4ch;
}